# dependencies
node_modules/

# build outputs
dist/
.vite/

# local env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor/system
.DS_Store
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
